<!DOCTYPE html>
<html>

<head>
  <title>Simple Vote</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div id="title" class="row">
      <h1>Simple Vote</h1>
    </div>

    <div id="items" class="row">
      <div class="col-md-1"></div>
      <% data.forEach(e => { %>
        <div class="col-md-5">
          <p class="item-name" id="item-<%= e.id %>">
            <%= e.item %>
          </p>
          <p class="item-count" id="vote-count-<%= e.id %>">
            <%= e.votes %>
          </p>
          <button type="button" name="button" class="item-vote btn btn-primary btn-lg">Vote</button>
        </div>
      <% }) %>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <button type="button" name="button" id="edit" class="edit-reset btn btn-success">Edit Items</button>
      <button type="button" name="button" id="reset" class="edit-reset btn btn-danger">Reset Vote</button>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>
