body {
    padding: 50px;
    font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
}

#title {
    margin-bottom: 50px;
}

#items {
    margin-bottom: 120px;
}

.item-name {
    margin: 18px 18px;
}

.item-count {
    margin: 18px 18px;
}

.item-vote {
    width: 100px;
}

.edit-reset {
    margin: 0 28px;
    width: 120px;
}
